<app-top-nav></app-top-nav>
<h1 class="title">Jugadores</h1>
<section class="jugadores">
    <article class="listaJ">
        <h1>Agregar jugador</h1>
        <br>
        <hr>
        <br>
        <form [formGroup]="formulario">
            <div>
                <input type="text" placeholder="Nombre" formControlName="nombre_j">
            </div>
            <div>
                <input type="text" placeholder="Apellidos" formControlName="apellidos_j">
            </div>
            <div>
                <label for="fechan">Fecha de nacimiento</label>
                <input type="date" id="fechan" formControlName="fechan_j">
            </div>
            <div>
                <label for="equipo">Equipo</label>
                <select name="equipo" id="equipo">
                    <option *ngFor="let equipo of equiposJugadores">{{equipo.equipo}}</option>
                </select>
            </div>
            <button class="sendButton">Agregar</button>
        </form>
    </article>
    <article class="listaJ" *ngFor="let equipo of equiposJugadores">
        <img [src]="equipo.logo" alt="">
        <h1>{{equipo.equipo}}</h1>
        <div class="jugador" *ngFor="let jugador of equipo.jugadores">{{jugador}}</div>
    </article>
</section>
<section>