<app-top-nav></app-top-nav>
<!-- <img class="bannerInicio" src="../../assets/banner inicio.jpg" alt=""> -->
<!-- <h1 class="bannerTitle">Liga Fut Manager</h1>
<hr> -->
<div class="menuInicio">
    <button routerLink="/equipos">Equipos</button>
    <button routerLink="/jugadores">Jugadores</button>
    <button routerLink="/partidos">Partidos</button>
    <button routerLink="/torneos">Torneos</button>
    <button routerLink="/arbitros">Arbitros</button>
</div>
<iframe width="100%" height="430" style="margin-top: 30px;" src="https://rss.app/embed/v1/carousel/tXxxDoIUNfCaG8ek" frameborder="0"></iframe>