<nav class="nav">
    <button class="menu" (click)="toggleNav()"><span class="material-symbols-outlined">menu</span></button>
    <img src="../../../assets/football logo.png" alt="" height="100%" routerLink="/inicio">
    <div class="profile">
        <a (click)="logout()" style="cursor: pointer;">
            <span class="material-symbols-outlined">logout</span>
        </a>
    </div>
    <div class="dropdown" *ngIf="showNav">
        <ul class="navItems">
            <li><a routerLink="/equipos">Equipos</a></li>
            <li><a routerLink="/jugadores">Jugadores</a></li>
            <li><a routerLink="/partidos">Partidos</a></li>
            <li><a routerLink="/torneos">Torneos</a></li>
            <li><a routerLink="/arbitros">Arbitros</a></li>
        </ul>
    </div>
</nav>